@import "home";
@font-face {
    font-family: "Questrial";
    src: url("./Questrial.ttf");
}



:root{
    --default: #6283D9;
    --secondary: #7199FF;
    --default-font: 'Questrial';
    --default-font-color: white;
    &[mode="dark"]{
        --default: #22252C;
        --secondary: #565656;
        --default-font-color: white;

    }
}
body{
    background-color: var(--default);
    font-family: var(--default-font);
    color: var(--default-font-color);
    // background-image: url("https://uploads.mangadex.org/covers/32d76d19-8a05-4db0-9fc2-e0b0648fe9d0/f5873770-80a4-470e-a11c-63b709d87eb3.jpg");
    // background-size: scale-down;
}

