@import "home";
@import "manga";
@font-face {
	font-family: "Questrial";
	src: url("./Questrial.ttf");
}

html,
body {
	margin: 0;
	padding: 0;
}
:root {
	--default: #6283d9;
	--secondary: #7199ff;
	--default-font: "Questrial";
	--default-font-color: white;
	&[mode="dark"] {
		--default: #22252c;
		--secondary: #565656;
		--default-font-color: white;
	}
}
body {
	background-color: var(--default);
	font-family: var(--default-font);
	color: var(--default-font-color);
	// background-image: url("https://uploads.mangadex.org/covers/32d76d19-8a05-4db0-9fc2-e0b0648fe9d0/f5873770-80a4-470e-a11c-63b709d87eb3.jpg");
	// background-size: scale-down;
}
